modules = ["php-8.2", "web"]
run = "php"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "php"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 39452455
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000"

[[ports]]
localPort = 5000
externalPort = 80
